<ion-header>
  <ion-toolbar>
    <ion-title>Buscar DNI</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (submit)="searchDni()">
    <ion-item>
      <ion-label position="floating">DNI</ion-label>
      <ion-input
        type="text"
        maxlength="8"
        [(ngModel)]="dni"
        name="dni"
        required
      ></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit">Buscar</ion-button>

  </form>

  <ion-card *ngIf="result">
    <ion-card-header>
      <ion-card-title>Resultado</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    <p class="texto-grande"><strong>Nombres:</strong> {{ result.nombres }}</p>
    <p class="texto-grande"><strong>Apellido Paterno:</strong> {{ result.apellidoPaterno }}</p>
    <p class="texto-grande"><strong>Apellido Materno:</strong> {{ result.apellidoMaterno }}</p>
    <p class="texto-grande" *ngIf="ludopataMessage">{{ ludopataMessage }}</p>

    <div *ngIf="imagenString" style="margin-top: 20px; text-align: center;">
      <img
        [src]="'https://44.201.220.104.nip.io/api/' + imagenString.replace('\\', '/')"
        alt="Foto del usuario"
        style="max-width: 100%; height: auto; width: 300px;"
      />
    </div>
  </ion-card-content>

  </ion-card>

  <ion-alert *ngIf="errorMessage" header="Error" [message]="errorMessage" [buttons]="['OK']"></ion-alert>
</ion-content>
